*{
	margin:0;
}

.fundo{	
	background-color:black;
	position:absolute; 
    width:100%; 
	height:100%;
	background-image:url(../imagens/background.jpg);
}

.cabecalho{	
	background-color:white;
	background-position: center;
	background-repeat: no-repeat;
	height:170px;
	background-size: 950px 170px;
	background-image:url(../imagens/Capa.jpg);
	
}

.menu{	
	bottom:95%;
	background-color:#000;
	height:50px;
	border-style: inset;
	border-color: transparent;
}

nav.menu ul li{
	display:inline-block;
	height: 10px;	
}

nav.menu ul li a{
	padding: 30px;
	padding-top: 15px;
	color: #FFF;
	text-decoration: none;
	font: bold 24px;
	text-align: center;
}

.conteudo{	
	margin-left:15%;
	margin-right:15%;
	background-color:white;
	position:center;
	height:900px;
	box-shadow: 0 0 20px #0B243B;
}

.dentroconteudo{	
	margin-top:5px;
	background-color:white;
	position:center;
	background-size: 100%;	
	height:100%;
	
}

.container {
    width: 100%;
    border-color: blue;
    margin-bottom: 115px;
}

.box {
    width: 70px; height: 200px;
	margin: 10px 80px;
	display: inline-block;
}

.box img{
	height:250px;
	width:200px;
}

ul,li{
	list-style: none;
}

ul li{
	margin:1em;
	float:left;
	margin-bottom: 0px;
}

.texto-item{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	width: 200px;
	margin-bottom: 5px;
}

.texto-item a{
	text-decoration:none; 
}

.texto-item a:visited{
	color:black;
}

.rodape{	
	background-color:black;
	background-position: center;
	background-repeat: no-repeat;
	height:50px;
	background-size: 950px 170px;	
}